* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #E3F2FD;
}

.wrapper {
    border-radius: 5px;
    width: 65vmin;
    height: 70vmin;
    background: #293447;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

.game-details {
    color: #B8C6DC;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.play-board {
    width: 100%;
    height: 100%;
    background-color: #212837;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food {
    background-color: #FF003D;
}

.play-board .snakeHead {
    background-color: #60CBFF;
}